<div class="page-header">
  <h1>Editing User #<%= @user.id %></h1>
</div>

<%= form_tag(user_url(@user), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, @user.first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :second_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :second_name, @user.second_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :date_of_birth, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :date_of_birth, @user.date_of_birth, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :email, @user.email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :waist_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :waist_size, @user.waist_size, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :hip_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :hip_size, @user.hip_size, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :bra_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :bra_size, @user.bra_size, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :body_shape_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :body_shape_id, @user.body_shape_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update User", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
