<div class="page-header">
  <h1>New User</h1>
</div>

<%= form_tag(users_url, method: 'post', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :first_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :first_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :second_name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :second_name, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :date_of_birth, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :date_of_birth, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :email, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :email, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :waist_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :waist_size, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :hip_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :hip_size, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :bra_size, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :bra_size, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :body_shape_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= number_field_tag :body_shape_id, nil, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Create User", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
