<div class="page-header">
  <h1>User #<%= @user.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Second name</dt>
  <dd><%= @user.second_name %></dd>

  <dt>Date of birth</dt>
  <dd><%= @user.date_of_birth %></dd>

  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <dt>Waist size</dt>
  <dd><%= @user.waist_size %></dd>

  <dt>Hip size</dt>
  <dd><%= @user.hip_size %></dd>

  <dt>Bra size</dt>
  <dd><%= @user.bra_size %></dd>

  <dt>Body shape</dt>
  <dd><%= @user.body_shape_id %></dd>

</dl>
